*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}
nav{
    background-color: rgb(1, 87, 87);
    height: 80px;
    width: 100;
    
}

nav ul{
    float: right;
    margin-right: 20px;

}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 10px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;

}
li a.active, li a:hover{
    background-color: rgb(18, 18, 235);
    transition: .5s;

}


#check{
    display: none;
    color: rgb(9, 200, 248);
    font-size: 32px;
    position: absolute;
    right: 10px;
}

.checkbtn{
    font-size: 30px;
    color: rgb(12, 235, 12);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
.check{
    display: none;
}
section{
    background-image: url("img/91386-huertos.jpg");
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 8px);
   
}
h1{


 font-size: 80px;
    text-align: center;
    font-family: arial;
}
section p{
    font-size:30px;
    text-align: center;
    color: red;
    background-color: yellow;
}
table{
    margin-top: 50px;
    caption-side: bottom;
    margin-left: auto;
    margin-right: auto;
}
td,th{
    border: 2px solid black;
    padding-left: 20px;
    padding-right: 20px;
}
.tabla{
    border: 12px;
    background-color: aqua;
    align-items: center;
}

@media (max-width: 950px){
    .enlace{
         padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media(max-width:850px){
    .checkbtn{
        display: block;

    }
    ul{
        position: fixed;
        width: auto;
        height: 100vh;
        background: gray;
        top: 80px;
        left: -150px;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;

    }
    li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
form{
    color: rgb(0, 0, 0);
	width: 300px;
	padding: 20px;
	border-radius: 10px;
	margin: auto;
	font-family: Broadway;
	background-color: #40E0D0;

}
form label{
	width: 100px;
	font-weight: bold;
	display: inline-block;

}
form input[type="text"],form input[type="email"]{
	width: 200px;
	padding: 9px 10px;
	border:2px solid #FFA500;
	border-radius: 3px;
	background-color: #800080;
	margin: 10px;
	display: inline-block;

}

